<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.mapper.LessonMapper">
  <resultMap id="BaseResultMap" type="com.neo.entity.Lesson">
    <id column="lesson_id" jdbcType="VARCHAR" property="lessonId" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="lesson_name" jdbcType="VARCHAR" property="lessonName" />
    <result column="lesson_study_hour" jdbcType="INTEGER" property="lessonStudyHour" />
    <result column="lesson_study_min" jdbcType="INTEGER" property="lessonStudyMin" />
    <result column="lesson_study_second" jdbcType="INTEGER" property="lessonStudySecond" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="bm_id" jdbcType="VARCHAR" property="bmId" />
  </resultMap>
  <sql id="Base_Column_List">
    lesson_id, course_id, lesson_name, lesson_study_hour, lesson_study_min, lesson_study_second, 
    class_id, bm_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lesson
    where lesson_id = #{lessonId,jdbcType=VARCHAR}
  </select>

  <select id="selectByClassId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from lesson
    where class_id = #{classId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lesson
    where lesson_id = #{lessonId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.neo.entity.Lesson">
    insert into lesson (lesson_id, course_id, lesson_name, 
      lesson_study_hour, lesson_study_min, lesson_study_second, 
      class_id, bm_id)
    values (#{lessonId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{lessonName,jdbcType=VARCHAR}, 
      #{lessonStudyHour,jdbcType=INTEGER}, #{lessonStudyMin,jdbcType=INTEGER}, #{lessonStudySecond,jdbcType=INTEGER}, 
      #{classId,jdbcType=VARCHAR}, #{bmId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neo.entity.Lesson">
    insert into lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lessonId != null">
        lesson_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="lessonName != null">
        lesson_name,
      </if>
      <if test="lessonStudyHour != null">
        lesson_study_hour,
      </if>
      <if test="lessonStudyMin != null">
        lesson_study_min,
      </if>
      <if test="lessonStudySecond != null">
        lesson_study_second,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="bmId != null">
        bm_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lessonId != null">
        #{lessonId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="lessonName != null">
        #{lessonName,jdbcType=VARCHAR},
      </if>
      <if test="lessonStudyHour != null">
        #{lessonStudyHour,jdbcType=INTEGER},
      </if>
      <if test="lessonStudyMin != null">
        #{lessonStudyMin,jdbcType=INTEGER},
      </if>
      <if test="lessonStudySecond != null">
        #{lessonStudySecond,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="bmId != null">
        #{bmId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neo.entity.Lesson">
    update lesson
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="lessonName != null">
        lesson_name = #{lessonName,jdbcType=VARCHAR},
      </if>
      <if test="lessonStudyHour != null">
        lesson_study_hour = #{lessonStudyHour,jdbcType=INTEGER},
      </if>
      <if test="lessonStudyMin != null">
        lesson_study_min = #{lessonStudyMin,jdbcType=INTEGER},
      </if>
      <if test="lessonStudySecond != null">
        lesson_study_second = #{lessonStudySecond,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="bmId != null">
        bm_id = #{bmId,jdbcType=VARCHAR},
      </if>
    </set>
    where lesson_id = #{lessonId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neo.entity.Lesson">
    update lesson
    set course_id = #{courseId,jdbcType=VARCHAR},
      lesson_name = #{lessonName,jdbcType=VARCHAR},
      lesson_study_hour = #{lessonStudyHour,jdbcType=INTEGER},
      lesson_study_min = #{lessonStudyMin,jdbcType=INTEGER},
      lesson_study_second = #{lessonStudySecond,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=VARCHAR},
      bm_id = #{bmId,jdbcType=VARCHAR}
    where lesson_id = #{lessonId,jdbcType=VARCHAR}
  </update>
</mapper>